@config "../../tailwind.config.ts";
@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer base {
  :root {
    --expo-out: linear(
      0 0%,
      0.1684 2.66%,
      0.3165 5.49%,
      0.446 8.52%,
      0.5581 11.78%,
      0.6535 15.29%,
      0.7341 19.11%,
      0.8011 23.3%,
      0.8557 27.93%,
      0.8962 32.68%,
      0.9283 38.01%,
      0.9529 44.08%,
      0.9711 51.14%,
      0.9833 59.06%,
      0.9915 68.74%,
      1 100%
    );

    --theme-transition-mask: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20100%20100'%3E%3Cdefs%3E%3Cfilter%20id='b'%20x='-50%25'%20y='-50%25'%20width='200%25'%20height='200%25'%3E%3CfeGaussianBlur%20stdDeviation='6'/%3E%3C/filter%3E%3C/defs%3E%3Ccircle%20cx='0'%20cy='0'%20r='50'%20fill='white'%20filter='url(%23b)'/%3E%3C/svg%3E");
  }

  ::view-transition-group(root) {
    animation-timing-function: var(--expo-out);
  }

  ::view-transition-new(root) {
    mask: var(--theme-transition-mask) top left / 0 no-repeat;
    mask-origin: content-box;
    transform-origin: top left;
    animation: theme-scale 650ms both;
  }

  ::view-transition-old(root),
  .dark::view-transition-old(root) {
    transform-origin: top left;
    animation: theme-scale 650ms both;
    z-index: -1;
  }

  @keyframes theme-scale {
    to {
      mask-size: 350vmax;
    }
  }
}
